<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-temporary class="mb-4 p-3 rounded-lg bg-red-50 border border-red-200">
    <p class="text-xs font-semibold text-red-700 mb-1.5">
      <%= I18n.t("errors.messages.not_saved",
            count: resource.errors.count,
            resource: resource.class.model_name.human.downcase) %>
    </p>
    <ul class="space-y-0.5 pl-4 list-disc">
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-xs text-red-600"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
