อะไร

<div class="grid grid-cols-4 gap-3 p-3">
  <% @books.each do |b| %>
    <div class="rounded border border-gray-200 p-3">
      <p class="font-bold"><%= b.name %></p>
      <p class="text-sm"><%= b.author.name %></p>
      <p class="text-xs text-gray-600"><%= b.tags.map{ |t| t.name }.join(',') %></p>
    </div>
  <% end %>
</div>